color: blue
re: words
color: red
re: echo
color: green
re: (IFS).+\2
color: cyan
re: bash
color: magenta
re: for|do|done|if|then|fi
color: magenta
re: for
color: cyan
re: if
color: magenta
re: (")[^"]+\2|(')[^']+\3
color: cyan
re: \{[^}]+\}
